<p id="notice"><%= notice %></p>

<p>
  <strong>Min:</strong>
  <%= @result.min %>
</p>

<p>
  <strong>Max:</strong>
  <%= @result.max %>
</p>

<p>
  <strong>Time:</strong>
  <%= @result.time %>
</p>

<p>
  <strong>Exps:</strong>
  <%= @result.exps %>
</p>

<p>
  <strong>Machine:</strong>
  <%= @result.machine %>
</p>

<p>
  <strong>Line:</strong>
  <%= @result.line %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
