<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @machine.name %>
</p>

<p>
  <strong>Machine ID:</strong>
  <%= @machine.mid %>
</p>
<p>
  <table class="table table-inverse">
  <thead>
    <tr>
      <th>Line</th>
      <th>Time</th>
      <th>Deviation</th>
      <th>Minimum</th>
      <th>Ideal</th>
      <th>Maximum</th>
    </tr>
  </thead>
      <% @results = @machine.results %>

   <% @results.each do |result| %>
      <tr>
        <td><%= result.line %></td>
        <td><%= result.time %></td>
        <td><%= result.exps %></td>
        <td><%= result.min %></td>
        <td><%= result.max %></td>
        <td><%= result.ideal %></td>
    <% end %>
</table>
  
</p>
<%= link_to 'Edit', edit_machine_path(@machine) %> |
<%= link_to 'Back', machines_path %>
